demos/sme-professional-services/w3-quote-trigger.json
{
  "name": "W3 - Quote Dispatch",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prudentia-quote",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "5c2b20c3-6acd-4239-99cd-95c8b2cc4531",
      "name": "Quote Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        128
      ],
      "webhookId": "prudentia-quote"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5d10eb8e-aa4f-48a7-95be-09d3cd44ec58",
      "name": "Build Quote Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -240,
        128
      ]
    },
    {
      "parameters": {
        "fromEmail": "masekolt@prudentiadigital.co.za",
        "toEmail": "={{ $json.email }}",
        "subject": "Your Quotation from Prudentia Digital \u2014 Ref: {{ $json.quote_ref }}",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset='utf-8'>\n  <style>\n    body { font-family: Arial, sans-serif; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 640px; margin: 0 auto; padding: 32px; }\n    .header { background: #0D1B2A; padding: 24px 32px; border-radius: 8px 8px 0 0; display: flex; justify-content: space-between; align-items: center; }\n    .header h1 { color: #C9A96E; margin: 0; font-size: 22px; }\n    .header .ref { color: #8fa3b1; font-size: 13px; margin-top: 4px; }\n    .body { background: #ffffff; padding: 32px; border: 1px solid #e5e7eb; border-top: 0; }\n    .quote-table { width: 100%; border-collapse: collapse; margin: 24px 0; }\n    .quote-table th { background: #0D1B2A; color: #C9A96E; padding: 10px 14px; text-align: left; font-size: 13px; }\n    .quote-table td { padding: 12px 14px; border-bottom: 1px solid #e5e7eb; font-size: 14px; }\n    .quote-table tr:last-child td { border-bottom: 0; }\n    .total-row td { font-weight: bold; background: #fef9ef; color: #0D1B2A; font-size: 16px; }\n    .meta { font-size: 13px; color: #6b7280; margin-bottom: 16px; }\n    .cta { background: #0D1B2A; color: #C9A96E; padding: 14px 28px; text-decoration: none; border-radius: 4px; font-weight: bold; display: inline-block; margin-top: 8px; }\n    .footer { background: #f9fafb; padding: 16px 32px; font-size: 12px; color: #6b7280; border-radius: 0 0 8px 8px; border: 1px solid #e5e7eb; border-top: 0; }\n  </style>\n</head>\n<body>\n  <div class='container'>\n    <div class='header'>\n      <div>\n        <h1>Prudentia Digital</h1>\n        <div class='ref'>Quotation &middot; {{ $json.quote_ref }}</div>\n      </div>\n    </div>\n    <div class='body'>\n      <p>Hi {{ $json.client_name }},</p>\n      <p>Thank you for your interest. Please find your quotation below.</p>\n      <div class='meta'>\n        <strong>Date:</strong> {{ $json.quote_date }}<br>\n        <strong>Valid until:</strong> {{ $json.valid_until }}<br>\n        <strong>Prepared by:</strong> Prudentia Digital (Pty) Ltd\n      </div>\n      <table class='quote-table'>\n        <thead>\n          <tr>\n            <th>Service Description</th>\n            <th style='text-align:right'>Amount (ZAR)</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>{{ $json.service }}</td>\n            <td style='text-align:right'>{{ $json.amount }}</td>\n          </tr>\n          <tr class='total-row'>\n            <td>Total (excl. VAT)</td>\n            <td style='text-align:right'>{{ $json.amount }}</td>\n          </tr>\n        </tbody>\n      </table>\n      <p style='font-size:13px;color:#6b7280;'>VAT (15%) will be added upon invoice. Payment terms: 50% upfront, 50% on completion.</p>\n      <p>To accept this quote or discuss scope, simply reply to this email or book a call:</p>\n      <a href='https://prudentiadigital.co.za/book' class='cta'>Accept &amp; Book a Call</a>\n      <p style='margin-top:24px;'>We look forward to working with you.</p>\n      <p>Warm regards,<br><strong>Thulani Maseko</strong><br>Founder, Prudentia Digital</p>\n    </div>\n    <div class='footer'>\n      Prudentia Digital (Pty) Ltd &middot; Enterprise No. 2025/910056/07 &middot; Gauteng, South Africa<br>\n      This quotation is valid for 30 days from the date of issue.\n      <a href='https://prudentiadigital.co.za/paia'>PAIA Manual</a>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "792147eb-a07f-45d4-87c8-80de3197f807",
      "name": "Send Quote to Client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "062406a9-6788-42db-801b-02b31a3dee7f",
      "credentials": {
        "smtp": {
          "id": "0xN94eNMgcrhTo4O",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "masekolt@prudentiadigital.co.za",
        "toEmail": "masekotlg@gmail.com",
        "subject": "[ACTION] Quote sent to {{ $json.client_name }} \u2014 {{ $json.quote_ref }}",
        "html": "<p><strong>Quote dispatched automatically.</strong></p><ul><li><strong>Client:</strong> {{ $json.client_name }} ({{ $json.email }})</li><li><strong>Service:</strong> {{ $json.service }}</li><li><strong>Amount:</strong> {{ $json.amount }}</li><li><strong>Ref:</strong> {{ $json.quote_ref }}</li><li><strong>Valid until:</strong> {{ $json.valid_until }}</li></ul><p>Follow up in 48 hours if no response.</p>",
        "options": {}
      },
      "id": "8f22911b-dc95-4611-b8e4-fa0d4c678270",
      "name": "Notify Consultant",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        240
      ],
      "webhookId": "c5c4d459-134c-44ca-895d-f6e8e7ce6a3c",
      "credentials": {
        "smtp": {
          "id": "0xN94eNMgcrhTo4O",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'sent', quote_ref: $('Build Quote Content').first().json.quote_ref, message: 'Quote dispatched to ' + $('Build Quote Content').first().json.email }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "7bf34d94-33b3-469a-b4c7-b1360392d8d0",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        128
      ]
    }
  ],
  "connections": {
    "Quote Request Webhook": {
      "main": [
        [
          {
            "node": "Build Quote Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Quote Content": {
      "main": [
        [
          {
            "node": "Send Quote to Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Consultant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Quote to Client": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "464ab8b7-2890-4f9e-afec-5c494cc77fb8",
  "activeVersionId": "464ab8b7-2890-4f9e-afec-5c494cc77fb8",
  "versionCounter": 24,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-16T19:32:11.832Z",
      "createdAt": "2026-04-16T19:32:11.832Z",
      "role": "workflow:owner",
      "workflowId": "iKmfg98f2B6FqPfh",
      "projectId": "ys0LhSUUjREE83YH",
      "project": {
        "updatedAt": "2026-04-16T15:49:06.381Z",
        "createdAt": "2026-04-16T15:49:06.381Z",
        "id": "ys0LhSUUjREE83YH",
        "name": "Thulani Maseko <masekotlg@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "db0065b1-229b-4d2d-ae28-e847f5b1275b"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-17T16:19:03.781Z",
    "createdAt": "2026-04-17T16:19:03.781Z",
    "versionId": "464ab8b7-2890-4f9e-afec-5c494cc77fb8",
    "workflowId": "iKmfg98f2B6FqPfh",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "prudentia-quote",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "5c2b20c3-6acd-4239-99cd-95c8b2cc4531",
        "name": "Quote Request Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -480,
          128
        ],
        "webhookId": "prudentia-quote"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "5d10eb8e-aa4f-48a7-95be-09d3cd44ec58",
        "name": "Build Quote Content",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.2,
        "position": [
          -240,
          128
        ]
      },
      {
        "parameters": {
          "fromEmail": "masekolt@prudentiadigital.co.za",
          "toEmail": "={{ $json.email }}",
          "subject": "Your Quotation from Prudentia Digital \u2014 Ref: {{ $json.quote_ref }}",
          "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset='utf-8'>\n  <style>\n    body { font-family: Arial, sans-serif; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 640px; margin: 0 auto; padding: 32px; }\n    .header { background: #0D1B2A; padding: 24px 32px; border-radius: 8px 8px 0 0; display: flex; justify-content: space-between; align-items: center; }\n    .header h1 { color: #C9A96E; margin: 0; font-size: 22px; }\n    .header .ref { color: #8fa3b1; font-size: 13px; margin-top: 4px; }\n    .body { background: #ffffff; padding: 32px; border: 1px solid #e5e7eb; border-top: 0; }\n    .quote-table { width: 100%; border-collapse: collapse; margin: 24px 0; }\n    .quote-table th { background: #0D1B2A; color: #C9A96E; padding: 10px 14px; text-align: left; font-size: 13px; }\n    .quote-table td { padding: 12px 14px; border-bottom: 1px solid #e5e7eb; font-size: 14px; }\n    .quote-table tr:last-child td { border-bottom: 0; }\n    .total-row td { font-weight: bold; background: #fef9ef; color: #0D1B2A; font-size: 16px; }\n    .meta { font-size: 13px; color: #6b7280; margin-bottom: 16px; }\n    .cta { background: #0D1B2A; color: #C9A96E; padding: 14px 28px; text-decoration: none; border-radius: 4px; font-weight: bold; display: inline-block; margin-top: 8px; }\n    .footer { background: #f9fafb; padding: 16px 32px; font-size: 12px; color: #6b7280; border-radius: 0 0 8px 8px; border: 1px solid #e5e7eb; border-top: 0; }\n  </style>\n</head>\n<body>\n  <div class='container'>\n    <div class='header'>\n      <div>\n        <h1>Prudentia Digital</h1>\n        <div class='ref'>Quotation &middot; {{ $json.quote_ref }}</div>\n      </div>\n    </div>\n    <div class='body'>\n      <p>Hi {{ $json.client_name }},</p>\n      <p>Thank you for your interest. Please find your quotation below.</p>\n      <div class='meta'>\n        <strong>Date:</strong> {{ $json.quote_date }}<br>\n        <strong>Valid until:</strong> {{ $json.valid_until }}<br>\n        <strong>Prepared by:</strong> Prudentia Digital (Pty) Ltd\n      </div>\n      <table class='quote-table'>\n        <thead>\n          <tr>\n            <th>Service Description</th>\n            <th style='text-align:right'>Amount (ZAR)</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>{{ $json.service }}</td>\n            <td style='text-align:right'>{{ $json.amount }}</td>\n          </tr>\n          <tr class='total-row'>\n            <td>Total (excl. VAT)</td>\n            <td style='text-align:right'>{{ $json.amount }}</td>\n          </tr>\n        </tbody>\n      </table>\n      <p style='font-size:13px;color:#6b7280;'>VAT (15%) will be added upon invoice. Payment terms: 50% upfront, 50% on completion.</p>\n      <p>To accept this quote or discuss scope, simply reply to this email or book a call:</p>\n      <a href='https://prudentiadigital.co.za/book' class='cta'>Accept &amp; Book a Call</a>\n      <p style='margin-top:24px;'>We look forward to working with you.</p>\n      <p>Warm regards,<br><strong>Thulani Maseko</strong><br>Founder, Prudentia Digital</p>\n    </div>\n    <div class='footer'>\n      Prudentia Digital (Pty) Ltd &middot; Enterprise No. 2025/910056/07 &middot; Gauteng, South Africa<br>\n      This quotation is valid for 30 days from the date of issue.\n      <a href='https://prudentiadigital.co.za/paia'>PAIA Manual</a>\n    </div>\n  </div>\n</body>\n</html>",
          "options": {}
        },
        "id": "792147eb-a07f-45d4-87c8-80de3197f807",
        "name": "Send Quote to Client",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "webhookId": "062406a9-6788-42db-801b-02b31a3dee7f",
        "credentials": {
          "smtp": {
            "id": "0xN94eNMgcrhTo4O",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "masekolt@prudentiadigital.co.za",
          "toEmail": "masekotlg@gmail.com",
          "subject": "[ACTION] Quote sent to {{ $json.client_name }} \u2014 {{ $json.quote_ref }}",
          "html": "<p><strong>Quote dispatched automatically.</strong></p><ul><li><strong>Client:</strong> {{ $json.client_name }} ({{ $json.email }})</li><li><strong>Service:</strong> {{ $json.service }}</li><li><strong>Amount:</strong> {{ $json.amount }}</li><li><strong>Ref:</strong> {{ $json.quote_ref }}</li><li><strong>Valid until:</strong> {{ $json.valid_until }}</li></ul><p>Follow up in 48 hours if no response.</p>",
          "options": {}
        },
        "id": "8f22911b-dc95-4611-b8e4-fa0d4c678270",
        "name": "Notify Consultant",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          0,
          240
        ],
        "webhookId": "c5c4d459-134c-44ca-895d-f6e8e7ce6a3c",
        "credentials": {
          "smtp": {
            "id": "0xN94eNMgcrhTo4O",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: 'sent', quote_ref: $('Build Quote Content').first().json.quote_ref, message: 'Quote dispatched to ' + $('Build Quote Content').first().json.email }) }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "7bf34d94-33b3-469a-b4c7-b1360392d8d0",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          240,
          128
        ]
      }
    ],
    "connections": {
      "Quote Request Webhook": {
        "main": [
          [
            {
              "node": "Build Quote Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Quote Content": {
        "main": [
          [
            {
              "node": "Send Quote to Client",
              "type": "main",
              "index": 0
            },
            {
              "node": "Notify Consultant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Quote to Client": {
        "main": [
          []
        ]
      }
    },
    "authors": "Thulani Maseko",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-17T16:19:05.120Z",
        "id": 17,
        "workflowId": "iKmfg98f2B6FqPfh",
        "versionId": "464ab8b7-2890-4f9e-afec-5c494cc77fb8",
        "event": "deactivated",
        "userId": "db0065b1-229b-4d2d-ae28-e847f5b1275b"
      },
      {
        "createdAt": "2026-04-17T16:19:05.136Z",
        "id": 18,
        "workflowId": "iKmfg98f2B6FqPfh",
        "versionId": "464ab8b7-2890-4f9e-afec-5c494cc77fb8",
        "event": "activated",
        "userId": "db0065b1-229b-4d2d-ae28-e847f5b1275b"
      }
    ]
  }
}